@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #222222;
  background-image: url("/images/kohedroo-pattern.webp");
  background-repeat: repeat;
  background-size: 800px auto; /* صغرتها لـ 800px عشان الرموز تكون بالحجم المتناسق والمظبوط */
  background-position: center top;
  background-attachment: scroll; /* عشان تتكرر مع السكرول الطبيعي وما تتثبتش */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}